.Calc{
  width: 550px;
  background-color:  #f2f2f2;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.Calc-Keypad{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.Calc-Keypad-Numbers{
  width: 375px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.Calc-Keypad-Operators{
  width: 125px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
}

button{
  background-color: #fff;
  border: 1px solid #c2c2c2;
  width: 115px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.Visor{
  width: 520px;
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 15px;
}
.Calc-Display{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 5px;
}

.Calc-Formula{
  color: #acaaaa;
  min-height: 22px;
  font-size: 21px;
  text-align: right;
  vertical-align: text-top;
  line-height: 22px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

button:hover{
  opacity: 0.8;
  border: 1px solid black;
}

button:active{
  background-color: #c2c2c2;
  transform: scale(0.95);
}

.operator{
  background-color: orange;
}

.ac{
  background-color: #c2c2c2;
  width: 240px;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
}